<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset='UTF-8'>
        <!-- ./favicon -->
        <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon" sizes="16x16">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="../css/tooltip.css">
        <link type="text/css" rel="stylesheet" href="../css/sty.css">
        <div class="fi-fullscreen"></div>
        <div class="fi-alert">
            <div class="fi-alert-close fi-crs-pointer"></div>
            <div class="fi-alert-header"></div>
            <div class="fi-alert-body"></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        </script>