<div class="fi-navbar">
    <ul>
        <li>
            <a href="javascript:void(0)" class="a-qs" data-id1="0">Cucina</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="a-qs" data-id1="1">Informatica</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="a-qs" data-id1="2">Date importanti</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="a-qs" data-id1="3">Curiosità</a>
        </li>
    </ul>
</div>